.blog {
    width: inherit;
    max-width: 884px;
  }
  
  .post {
    min-height: 200px;
    margin-top: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    line-height: 250%;
    padding: 20px;
    cursor: pointer; 
  }
  
  .post.unread {
    background: #fac8c8
  }